@font-face {
  font-family: "Roboto";
  src:  url(../fonts/roboto.woff2) format("woff2"),
        url(../fonts/roboto.woff) format("woff"),
        url(../fonts/robotobold.woff2) format("woff2"),
        url(../fonts/robotobold.woff) format("woff"),
        url(../fonts/robotomedium.woff2) format("woff2"),
        url(../fonts/robotomedium.woff) format("woff");
}

:root {
  /*главные цвета фон*/
  --basic-light-grey: #eeeeee;
  --basic-white: #ffffff;

  /*главные цвета текст*/
  --basic-black: #000000;
  --basic-dark-grey:  #283136;

 /*дополнительные цвета текст*/
  --basic-medium-black: #444444;
  --basic-medium-grey: #666666;
  --special-opacity-black:  rgba(0,0,0,0.3);
  --special-opacity-black-darker: rgba(0,0,0,0.6);
  --special-opacity-white: rgba(255,255,255,0.3);

/*дополнительные цвета фон для элементов*/
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-grey:  #A6A6A6;
  --basic-catalog-grey:  #4D4D4D;
  --basic-social-grey: #E1E1E1;
  --basic-arrow_buttons-black: #231F20;

  --special-medium-red: #E74246;
  --special-dark-red: #D7373B;
  --special-medium-green: #00BC6C;
  --special-dark-green:#00AA62;
  --special-medium-yellow:  #EAB534;
  --special-dark-yellow: #E5A722;
  --special-medium-grey: #DFDFDF;
  --special-dark-grey: #D5D5D5;
  --special-pagination-border-grey: #DBDBDB;

  --background-image-color: #F2F2F2;
  --button-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

body {
  min-width: 1400px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sana-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}

.main-nav {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content min-content auto;
  align-items: center;
  gap: 200px;
}

.main-logo {
  align-self: end;
}

.button-cart-wrapper {
  text-align: right;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
  text-align: left;
}

.goods__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
}

.goods__item {
  display: grid;
}

.goods__image {
  order: -1;
}

.about-studio-wrapper {
  display: grid;
  grid-template-columns: 660px 360px;
  justify-content: space-between;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.features__list dt {
 grid-row-start: 1;
 grid-row-end: 2;
}

.features__list dd {
  margin: 0;
}

.clients__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.clients__item {
  text-align: center;
}

.page-footer .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 139px;
  align-items: center;
}

.page-footer .social__list {
  grid-column-start: 1;
  grid-row-start: 1;
}

.social__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Main-header*/

.main-header {
  padding-top: 50px;
  margin-bottom: 80px;
  background-color: var(--basic-light-grey);
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-nav__list {
  list-style: none;
}

.main-nav__link, .button-cart {
  color: var(--basic-black);
}

.main-nav__link:hover,
.main-nav__link:focus,
.button-cart:hover,
.button-cart:focus {
  color: var(--basic-red);
}

.main-nav__link:active, .button-cart:active {
  color: var(--special-opacity-black);
}


/*Promo*/

.promo {
  margin-bottom: 80px;
  background-color: var(--basic-light-grey);
}


.promo h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}


/*Goods*/

.goods {
  margin-bottom: 80px;
}

.goods__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.goods h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.goods p {
  width: 260px;
}


/*Studio*/

.studio {
  margin-bottom: 73px;
}

.studio h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
  color: var(--basic-black);
}

.studio h4 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-studio__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features h4 {
  color: var(--basic-black);
}

.features__value {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.features__list dd {
  line-height: 18px;
}

.features__value sup {
  font-size: 26px;
  line-height: 40px;
}

/*Clients*/

.clients {
  margin-bottom: 80px;
}

.clients__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clients__link {
  opacity: 0.2;
}

.clients__link:hover,
.clients__link:focus {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}


/*Contacts*/

.contacts {
  line-height: 18px;
  color: var(--basic-medium-grey);
}

.contact-phone {
  color: var(--basic-medium-grey);
}

.contacts__studio-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}


/*Footer*/

.page-footer h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.page-footer p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-medium-black);
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
}


/*catalog*/

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item {
  background-color: var(--background-image-color);
}

.browser-panel__decor-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog__item-description {
  line-height: 18px;
  color: var(--basic-medium-grey);
  background-color: var(--basic-light-grey);
}

.link-to-project {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.link-to-project:hover, .link-to-project:focus {
  color: var(--basic-red);
}

.link-to-project:active {
  color: var(--special-opacity-black);
}

.pagination-list {
  list-style: none;
}

.browser-panel {
  background-color: var(--basic-catalog-grey);
  opacity: 0.12;
}

.browser-panel:hover, .browser-panel:focus {
    opacity: 1;
}


/*button*/

.button {
  font: inherit;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button-standart {
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
}

.button-standart:hover,
.button-standart:focus {
  background-color: var(--special-medium-grey);
}

.button-standart:active {
  background-color: var(--special-dark-grey);
  color: var(--special-opacity-black);
}

.button-standart_aссented {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button-standart_aссented:hover,
.button-standart_aссented:focus {
  background-color: var(--special-medium-red);
}

.button-standart_aссented:active {
  background-color: var(----special-dark-red);
  color: var(--special-opacity-white);
}

.button-order {
  width: 160px;
  padding: 17px 0;
  color: var(--basic-white);
}

.button-order_red {
  background-color: var(--basic-red);
}

.button-order_red:focus,
.button-order_red:hover  {
  background-color: var(--special-medium-red);
}

.button-order_red:active {
  background-color: var(----special-dark-red);
  color: var(--special-opacity-white);
}

.button-order_yellow {
  background-color: var(--basic-yellow);
}

.button-order_yellow:focus,
.button-order_yellow:hover {
  background-color: var(--special-medium-yellow);
}

.button-order_yellow:active {
  background-color: var(--special-dark-yellow);
}

.button-order_green {
  background-color: var(--basic-green);
}

.button-order_green:focus,
.button-order_green:hover {
  background-color: var(--special-medium-green);
}

.button-order_green:active {
 background-color: var(--special-dark-green);
}

.button-order:active {
  color: var(--special-opacity-white);
}

.slider__button {
  background-color: var(--basic-white);
}


/*catalog button*/

.button-add-to-cart {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button-add-to-cart:hover, .button-add-to-cart:focus {
  background-color: var(--special-medium-red);
}

.button-add-to-cart:active {
  background-color: var(--special-dark-red);
}

.sort-button-item {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort-button-item :hover, .sort-button-item :focus {
  color: var(--special-opacity-black-darker);
}

.sort-button-item :active {
   color: var(--special-opacity-black);
}

.sort-button__arrow  {
  color: var(--basic-grey);
  opacity: 0.2;
}

.sort-button__arrow:hover, .sort-button__arrow:focus {
  color: var(--basic-grey);
}

.sort-button__arrow:active {
  color: (--basic-arrow_buttons-black);
}

.pagination__button {
  background-color: var(--basic-light-grey);
}

.pagination__button:hover, .pagination__button:focus {
  background-color: var(--special-medium-grey);
}

.pagination__button:active {
  background-color: var(--special-dark-grey);
}

.pagination__item_current {
  background-color: var(--basic-white);
  border: 3px solid var(--special-pagination-border-grey);
}

