@font-face {
  font-family: "Roboto";
   src:  url(../fonts/roboto.woff2) format("woff2"),
        url(../fonts/roboto.woff) format("woff"),
        url(../fonts/robotobold.woff2) format("woff2"),
        url(../fonts/robotobold.woff) format("woff"),
        url(../fonts/robotomedium.woff2) format("woff2"),
        url(../fonts/robotomedium.woff) format("woff");
}

:root {
  /*главные цвета фон*/
  --basic-light-grey: #eeeeee;
  --basic-white: #ffffff;
  /*главные цвета текст*/
  --basic-black: #000000;
  --basic-dark-grey: #283136;
  /*дополнительные цвета текст*/
  --basic-medium-black: #444444;
  --basic-medium-grey: #666666;
  --special-opacity-light-black: rgba(0, 0, 0, 0.15);
  --special-opacity-black: rgba(0, 0, 0, 0.3);
  --special-opacity-black-darker: rgba(0, 0, 0, 0.6);
  --special-opacity-white: rgba(255, 255, 255, 0.3);
  /*дополнительные цвета фон для элементов*/
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-grey: #A6A6A6;
  --basic-catalog-grey: #4D4D4D;
  --basic-social-grey: #E1E1E1;
  --basic-arrow-buttons-black: #231F20;
  --basic-toggle-grey: #ABABAB;
  --basic-scale-grey: #D7DCDF;
  --special-medium-red: #E74246;
  --special-dark-red: #D7373B;
  --special-medium-green: #00BC6C;
  --special-dark-green: #00AA62;
  --special-medium-yellow: #EAB534;
  --special-dark-yellow: #E5A722;
  --special-medium-grey: #DFDFDF;
  --special-dark-grey: #D5D5D5;
  --special-pagination-border-grey: #DBDBDB;
  --special-input-border-grey: #D7DCDE;
  --special-input-border-dark-grey: #B4B9BB;
  --special-button-slider-grey: #C1C1C1;
  --background-image-color: #F2F2F2;
  --button-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --catalog-item-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  --modal-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.first-section-wrapper {
  padding-top: 75px;
  background-color: var(--basic-light-grey);
}

.main-title {
  margin-top: -2px;
  margin-bottom: 0;
  padding-bottom: 110px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}


/*Page-layout*/

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  min-height: 100%;
}


/*Main-header*/

.main-header {
  padding-top: 48px;
  background-color: var(--basic-light-grey);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.main-logo {
  width: 160px;
  height: 66px;
  align-self: end;
}

.main-nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70.4%;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 475px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin-top: 10px;
  margin-right: 5px;
}

.main-nav__item:nth-child(4n) {
  margin-right: 0;
}

.button-cart {
  margin-top: 10px;
  width: 115px;
}

.main-nav__link {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
}

.main-nav__current-section {
  margin-right: 20px;
  margin-left: 20px;
}

.main-nav__link,
.button-cart__link,
.main-nav__current-section {
  display: block;
  padding-top: 16px;
  padding-bottom: 13px;
  color: var(--basic-black);
}

.button-cart__link {
  position: relative;
  text-align: right;
}

.button-cart__link::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav__link:hover,
.main-nav__link:focus,
.button-cart__link:hover,
.button-cart__link:focus {
  color: var(--basic-red);
}

.main-nav__link:active,
.button-cart__link:active {
  color: var(--special-opacity-black);
}

.main-logo-svg {
  fill: var(--basic-black);
}

.main-logo-link:active .main-logo-svg {
  fill: var(--basic-grey);
}

.main-nav__current-section,
.button-cart--active {
  border-bottom: 2px solid var(--basic-red);
}


/*Promo*/

.promo {
  min-height: 353px;
  margin-bottom: 80px;
}

.promo-wrapper-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 76% -5px;
}

.promo-wrapper-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 76% -5px;
}

.promo-wrapper-3 {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 76% -5px;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}

.slide__content {
  width: 540px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.slide__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slide__title--narrow-space {
  margin-bottom: 25px;
}

.slide__text {
  margin-top: 0;
  margin-bottom: 30px;
  width: 416px;
}

.slide__text--wide-space {
  margin-top: 0;
  margin-bottom: 40px;
}

.promo.container {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 556px;
  bottom: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88px;
}


/*Goods*/

.goods {
  margin-bottom: 60px;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods__item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.goods__item:nth-child(3n) {
  margin-right: 0;
}

.goods__image {
  height: 100%;
  object-fit: cover;
  order: -1;
}

.goods h3 {
  margin-top: 25px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.goods__item p {
  width: 260px;
  margin-top: 0;
  margin-bottom: auto;
  padding-bottom: 32px;
}


/*Studio*/

.studio {
  padding-top: 73px;
  padding-bottom: 73px;
  border-top: 2px solid var(--basic-light-grey);
  border-bottom: 2px solid var(--basic-light-grey);
}

.about-studio-wrapper {
  display: grid;
  grid-template-columns: 660px 360px;
  justify-content: space-between;
}

.about-studio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-studio__item {
  margin-bottom: 24px;
  padding-left: 36px;
  position: relative;
}

.about-studio__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-studio__item:last-of-type {
  margin-bottom: 0;
}

.studio h3 {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-studio p {
  margin: 0 0 40px;
}

.studio h4 {
  margin-top: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: -35px;
}

.features h4 {
  margin-top: 36px;
  margin-bottom: 31px;
  text-align: center;
  color: var(--basic-black);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  width: 120px;
}

.features__value {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.features__description {
  margin: 10px 0 0;
  line-height: 18px;
}

.features__value sup {
  font-size: 26px;
  line-height: 40px;
}

.features__image {
  object-fit: cover;
}


/*Clients*/

.clients {
  margin-bottom: 80px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid var(--basic-light-grey);
  box-sizing: border-box;
}

.clients__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-height: 180px;
  padding-top: 10px;
  box-sizing: border-box;
}

.clients__item:nth-child(4n),
.clients__item:nth-child(4n+1) {
  width: 280px;
  padding-top: 20px;
}

.clients__item:nth-child(4n+1) {
  padding-right: 15px;
}

.clients__item:nth-child(4n) {
  padding-left: 20px;
}

.clients__item::after {
  content: "";
  position: absolute;
  bottom: 36%;
  left: 100%;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);
}

.clients__item:nth-child(4n)::after {
  display: none;
}

.clients__link {
  padding: 30px 30px;
  opacity: 0.2;
}

.clients__link:hover,
.clients__link:focus {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}

.clients__item img {
  object-fit: cover;
  object-position: 50% 50%;
}


/*Footer*/

.contacts {
  position: relative;
  margin-bottom: 70px;
  line-height: 18px;
  color: var(--basic-medium-grey);
}

.contacts__map {
  width: 100%;
  max-height: 416px;
  object-fit: cover;
  object-position: 0 65%;
}

iframe.contacts__map {
  display: none;
}

.map-container {
  position: relative;
}

.map-marker {
  position: absolute;
  top: -315px;
  bottom: 0;
  left: 57.5%;
  right: 0;
  z-index: 1;
}

.contacts__text-frame {
  position: absolute;
  top: 54px;
  left: calc((100% - 1160px)/2);
  display: flex;
  flex-direction: column;
  width: 321px;
  max-height: 350px;
  padding: 49px 50px 45px;
  background-color: var(--basic-white);
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1;
}

.contacts__studio-name {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.contacts__text-frame p {
  margin: 0 0 18px;
}

.contact-phone {
  margin: 0 0 40px;
  color: var(--basic-medium-grey);
}

.footer-bottom .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 139px;
}

.social__list {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 261px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 10px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.footer-bottom h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-bottom p {
  margin: 0;
  line-height: 22px;
  color: var(--basic-medium-black);
}


/*Social links*/

.social__item {
  width: 80px;
  height: 80px;
  background-color: var(--basic-social-grey);
  border-radius: 50%;
}

.social__link {
  display: block;
  margin-top: 10px;
  text-align: center;
  padding: 18px 18px;
}

.social__icon {
  object-fit: cover;
  object-position: 50% 50%;
}

.social__item:hover {
  background-color: var(--special-medium-red);
}

.social__item:active {
  background-color: var(--special-dark-red);
  /*!!!*/box-shadow: var(--button-shadow);
}

.social__item:active .social__icon {
  opacity: 0.3;
}


/*Catalog*/

.catalog-main-title {
  margin-bottom: 48px;
  text-align: center;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  column-gap: 140px;
  margin-bottom: 60px;
}

.catalog__filter {
  grid-row-start: 1;
  grid-row-end: -1;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 620px);
  column-gap: 42px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  list-style: none;
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  *height: 620px;
  background-color: var(--background-image-color);
  border-radius: 5px;
}

.catalog__item:hover,
.catalog__item:focus {
  box-shadow: var(--catalog-item-shadow);
  cursor: pointer
}

.pagination {
  grid-column-start: 2;
  display: flex;
  align-items: center;
}

.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-label {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 44px;
  padding-top: 3px;
}

.sort-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.sort-button-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 27px;
}

.sort-button-text button {
  padding: 10px 13px 10px 12px;
}

.sort-buttons-arrows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sort-button__arrow {
  padding: 9px;
}

.sort-button__arrow:last-child {
  padding: 9px 0 9px 9px;
}

.browser-panel {
  order: 0;
  width: 100%;
  background-color: var(--basic-catalog-grey);
  border-radius: 5px 5px 0 0;
  opacity: 0.12;
}

.browser-panel__decor-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item-image {
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.catalog__item-description {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  min-height: 231px;
  max-height: 400px;
  padding: 26px 10px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-medium-grey);
  background-color: var(--basic-light-grey);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.catalog__item:hover>.catalog__item-description,
.catalog__item:focus>.catalog__item-description {
  display: block;
}

.catalog__item-description--active {
  display: block;
}

.catalog__item-description h3 {
  margin-top: 0;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.catalog__item-description p {
  margin: 0 auto 23px;
  padding-bottom: 10px;
  width: 255px;
  max-height: 250px;
  overflow-y: auto;
  box-sizing: border-box;
}

.link-to-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.link-to-project:hover,
.link-to-project:focus {
  color: var(--basic-red);
}

.link-to-project:active {
  color: var(--special-opacity-black);
}

.catalog__item:hover .browser-panel,
.catalog__item:focus .browser-panel {
  opacity: 1;
}

.browser-panel__decor-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  min-height: 40px;
  margin-left: 16px;
}

.browser-panel__decor-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.pagination__item {
  margin-right: 11px;
}


/*catalog__filter*/

.catalog-filter__item {
  width: 260px;
  margin: 0 0 43px 0;
  padding: 0;
  border: none;
}

.catalog-filter__item:first-of-type {
  margin-bottom: 54px;
}

.catalog-filter__item:last-of-type {
  margin-bottom: 48px;
}

.catalog-filter__first-title {
  margin-bottom: 48px;
  padding-top: 7px;
}

.catalog-filter__title {
  margin-bottom: 13px;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter__option {
  margin-bottom: 16px;
}

.catalog-filter__option:last-child {
  margin-bottom: 0;
}

.catalog-filter__option label {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 35px;
  padding: 3px 0;
  line-height: 19px;
  cursor: pointer;
  user-select: none;
}

.catalog-filter__input-radio+label::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 25px;
  background-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px var(--basic-catalog-grey);
  opacity: 0.4;
}

.catalog-filter__input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 25px;
  background-color: var(--basic-catalog-grey);
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 4px var(--basic-catalog-grey),
    inset 0 0 0 8px var(--basic-white);
  opacity: 0.4;
}

.catalog-filter__input-radio:checked+label::before {
  opacity: 0;
}

.catalog-filter__input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 23px;
  height: 23px;
  border: 3px solid var(--basic-catalog-grey);
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 0.4;
}

.catalog-filter__input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 23px;
  background-color: var(--basic-white);
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.catalog-filter__input-checkbox:checked+label::before {
  opacity: 0;
}

.catalog-filter__input:hover+label::before,
.catalog-filter__input:focus+label::before {
  opacity: 1;
}

.catalog-filter__input-radio:disabled+label::before,
.catalog-filter__input-checkbox:disabled+label::before {
  opacity: 0.1;
}

.catalog-filter__input-radio:disabled+label,
.catalog-filter__input-checkbox:disabled+label {
  opacity: 0.3;
}

.catalog-filter__input:hover+label::after,
.catalog-filter__input:focus+label::after {
  opacity: 1;
}

.catalog-filter__input-radio:disabled+label::after,
.catalog-filter__input-checkbox:disabled+label::after {
  opacity: 0.1;
}


/*range-controls*/

.range-controls {
  position: relative;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  height: 41px;
  background-color: var(--basic-light-grey);
  border-radius: 3px;
}

.scale {
  height: 2px;
  background-color: var(--basic-scale-grey);
}

.bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--basic-toggle-grey);
  border-radius: 50%;
  box-shadow:
    inset 0px 0px 0px 8px var(--basic-white),
    0px 2px 1px var(--special-opacity-light-black);
  cursor: pointer;
}

.toggle-min {
  top: 30px;
  left: 18px;
}

.toggle-max {
  top: 30px;
  left: 18px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-controls__input {
  margin-left: 10px;
  width: 75px;
  height: 35px;
  font-weight: inherit;
  font-size: inherit;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: inherit;
  text-align: center;
  border: none;
  background-color: var(--basic-light-grey);
  border-radius: 3px;
}

.price-controls__input::-webkit-outer-spin-button,
.price-controls__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls__input {
  -moz-appearance: textfield;
}

.price-controls__label {
  line-height: 22px;
  text-transform: uppercase;
}


/*button*/

.button {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  word-break: break-word;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.button:active,
.button:focus,
.button:hover {
  outline: none;
}

.button:disabled {
  cursor: auto;
}

.button:active:not(.slider-controls__button) {
  box-shadow: var(--button-shadow);
}

.button-standart {
  padding: 17px 54px 15px;
  background-color: var(--basic-light-grey);
}

.button-standart:hover,
.button-standart:focus,
.pagination__button:hover,
.pagination__button:focus {
  background-color: var(--special-medium-grey);
}

.button-standart:active,
.pagination__button:active {
  color: var(--special-opacity-black);
  background-color: var(--special-dark-grey);
}

.button--aссented {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button--aссented:hover,
.button--aссented:focus {
  background-color: var(--special-medium-red);
}

.button--aссented:active {
  background-color: var(--special-dark-red);
  color: var(--special-opacity-white);
}

.button-contacts {
  padding: 17px 44px 15px;
  width: 219px;
}

.button-order {
  padding: 17px 39px 17px 40px;
  width: 160px;
  color: var(--basic-white);
}

.button-order--red {
  background-color: var(--basic-red);
}

.button-order--red:focus,
.button-order--red:hover {
  background-color: var(--special-medium-red);
}

.button-order--red:active {
  background-color: var(--special-dark-red);
}

.button-order--yellow {
  background-color: var(--basic-yellow);
}

.button-order--yellow:focus,
.button-order--yellow:hover {
  background-color: var(--special-medium-yellow);
}

.button-order--yellow:active {
  background-color: var(--special-dark-yellow);
}

.button-order--green {
  background-color: var(--basic-green);
}

.button-order--green:focus,
.button-order--green:hover {
  background-color: var(--special-medium-green);
}

.button-order--green:active {
  background-color: var(--special-dark-green);
}

.button-order:active {
  color: var(--special-opacity-white);
}

.modal-question__button {
  padding: 17px 83px 15px 83px;
}

.slider-controls__button {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-controls__button--active {
  box-shadow:
    inset 0px 0px 0px 5px var(--basic-white),
    inset 0px 0px 0px 7px var(--special-button-slider-grey);
}


/*catalog button*/

.button-add-to-cart {
  width: 200px;
  padding: 17px 54px 15px;
}

.button-add-to-cart:active {
  color: var(--basic-white);
}

.sort-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0.3;
}

.sort-button-container .button:active {
  box-shadow: none;
}

.sort-button:hover,
.sort-button:focus {
  opacity: 0.6;
}

.sort-button--active,
.sort-button:active {
  opacity: 1;
}

.arrow-down-top,
.arrow-top-down {
  fill: var(--basic-grey);
  opacity: 0.2;
}

.sort-button__arrow {
  background-color: transparent;
}

.sort-button__arrow--active svg,
.sort-button__arrow:active svg {
  fill: var(--basic-arrow-buttons-black);
  opacity: 1;
}

.sort-button__arrow:hover svg,
.sort-button__arrow:focus svg {
  opacity: 1;
}

.pagination__button {
  min-width: 50px;
  min-height: 50px;
  padding: 12px;
  background-color: var(--basic-light-grey);
}

.pagination__button--current {
  background-color: var(--basic-white);
  border: 3px solid var(--special-pagination-border-grey);
  box-sizing: border-box;
}

.pagination__button--current:hover,
.pagination__button--current:focus {
  background-color: var(--basic-white);
}

.pagination__button-next {
  padding: 17px 77px 15px 78px;
}

.catalog-filter__button-submit {
  padding: 17px 89px 15px 88px;
}


/*Modal*/

.modal {
  position: fixed;
  top: calc((100% - 345px)/2);
  bottom: calc((100% - 345px)/2);
  left: 0;
  right: 0;
  display: none;
  margin: auto;
  box-shadow: var(--modal-shadow);
  z-index: 100;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-question {
  width: 960px;
  height: 590px;
  padding: 63px 90px 84px 100px;
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.modal-question h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.modal-question__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 761px;
}

.modal-question__item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 34px;
}

.modal-question__item:last-of-type {
  margin-bottom: 47px;
}

.modal-question__item--big {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-question__item input {
  width: 100%;
  height: 50px;
  margin-top: 9px;
}

.modal-question__item textarea {
  height: 118px;
  resize: none;
}

.modal input,
.modal label,
.modal textarea {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 18px;
}

.modal-question__form label {
  font-weight: 700;
  color: var(--basic-black);
}

.modal textarea,
.modal input {
  margin-top: 9px;
  margin-bottom: 0;
  padding: 16px 14px 16px 16px;
  font-weight: 400;
  color: var(--basic-medium-black);
  border: 2px solid var(--special-input-border-grey);
  box-sizing: border-box;
  border-radius: 3px;
  border-image: none;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid var(--special-input-border-dark-grey);
}

.modal input::placeholder,
.modal textarea::placeholder {
  opacity: 0.5;
  color: var(--basic-medium-black);
}

.modal input:focus,
.modal textarea:focus {
  border: 2px solid var(--basic-black);
}

.modal input:focus::placeholder,
.modal textarea:focus::placeholder {
  opacity: 1;
}

.modal input:invalid,
input.invalid {
  border: 2px solid var(--special-medium-red);
}

.modal input:invalid {
  color: var(--special-medium-red);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.modal-close {
  position: relative;
  padding: 20px;
  background-color: transparent;
  opacity: 0.3;
}

.modal-close::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0px;
  height: 3px;
  width: 25px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0px;
  height: 3px;
  width: 25px;
  background-color: var(--basic-red);
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}


/*Animation*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
